ffmpeg-python
Flask
Flask_Cors
gradio>=3.7.0
numpy==1.23.5
pyworld
scipy==1.10.0
SoundFile==0.12.1
torch
torchaudio
torchcrepe
tqdm
scikit-maad
praat-parselmouth
onnx
onnxsim
onnxoptimizer
fairseq==0.12.2
librosa==0.9.1
tensorboard==1.15
tensorboardX
transformers
edge_tts
pyyaml
pynvml
ffmpeg
faiss-gpu
